{% extends "base.html" %}
{% block container %}
<div class="content">
    <div class="pure-g-r content-ribbon">
        <div class="pure-u-2-3">
            <div class="l-box">
                <h3>Fale Conosco:</h3>
                <p>
                    Voce pode entrar em contato conosco por email ou pelas redes sociais:
                </p>
                <p>
                    Links para contato:
                </p>
                <ul> Email: contato@simplemoocproject.com</ul>
                <ul> Facebook: @simplemoocproject</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}